<h3>{{viewTitle2}}</h3>

<form action="/employee" method="get">
<div class="form-row">
        <button type="enter" class="btn btn-dark" href="/employee/home"><i class="fa fa-database"></i> Enter</button>
</div>
</form>